<nav class="navbar
 navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a routerLink="/servicebank/dashboard" class="navbar-brand text-primary fw-bolder" href="#"><i class="fa-solid fa-building-columns "></i>Service Bank</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   
  </div>
</nav>
<div class="row ">
    
       <div class="text-center flex-column ">
       
        <img height="500vh" src="https://freefrontend.com/assets/img/html-funny-404-pages/CodePen-404-Page.gif" alt="">
        
    </div>
</div>
<div class="row text-center">
    <a class=" " routerLink="/servicebank/dashboard" >Go Home</a>
</div>

    

