<header style="height: 150px;width: 100%; background-image: url(https://www.cbhou.com/portals/centralbankhouston/images/eBankingOnlineBanking_banner.jpg?ver=2020-09-01-071812-847);">
    
    <nav class="navbar navbar-expand-lg bg-transparent">
        <div class="container-fluid">
            <a class="navbar-brand text-white fw-bolder" routerLink="">
                <i class="fa-solid fa fa-building-columns fa-beat-fade"></i>
                Service Bank
            </a>
        </div>

    </nav>

</header>
<marquee bgcolor="bisque"  behavior="" direction="">Welcome to Service bank....</marquee>

<div class="container mt-5 " style="height: 70vh;">
    <p style="text-align: justify;">alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over</p>
    <div class="row mt-5">
        <div class="col-4 text-center ">
           

        </div>
        <div class="col-8 border p-3">
            <h3>
                Sign Up...
            </h3>
            <form [formGroup]="registerform" class="" (ngSubmit)="register()" >
                <div class="mt-2">
                    <input name="username" formControlName="username" type="text" placeholder="Username" class="form-control">
                </div>
                <div *ngIf="    this.registerform.get('username')?.errors &&    this.registerform.get('username')?.touched

                " class="mt-2 text-danger">
                    Invalid Username
                </div>
                <div class="mt-2">
                    <input type="text" name="accountnumber" formControlName="acno"  placeholder="Account Number" class="form-control">
                </div>
                <div *ngIf="    this.registerform.get('acno')?.errors &&    this.registerform.get('acno')?.touched

                " class="mt-2 text-danger">
                    Invalid Acno
                </div>
                <div class="mt-2">
                    <input type="text" name="password" formControlName="password"  placeholder="Password" class="form-control">
                </div>
                <div *ngIf="    this.registerform.get('password')?.errors &&    this.registerform.get('password')?.touched

                " class="mt-2 text-danger">
                    Invalid Password
                </div>
                <div class="mt-2 d-flex text-center">
                    <input  value="Register" type="submit" class="btn btn-success">
                    <p class="ms-3">Already a User? Click Here to Login
                    <a routerLink="/servicebank/login" class="mt-3">Login</a></p>
                </div>



            </form>
        </div>
    </div>

</div>

<footer style="width: 100%; height: 50px; background-color: rgb(5,15,35);">
    <p class="text-center text-light ">&copy;All rights reserved &reg; <span><i class="fa-solid fa-building-columns "></i></span> Service Bank</p></footer>
    
